
/*
    Variáveis
*/

:root{
    --bgDarkestColor:rgba(54,0,0,1);
    --bgDarkColor:rgba(108,2,2,1);
    --bgColor: rgba(163,25,25,1);
    --bgLightColor:rgba(238,114,114,1);
    --bgLightestColor:rgba(255,185,185,1);

    font-family: Arial, Helvetica, sans-serif;
}

/*
    Estrutura
*/

#GlobalContainer{
    display: flex;
    flex-wrap: wrap;
}
body{
    margin:0;
    padding:0;
    background-color: rgb(201, 201, 201);
}
.Content{
    position: relative;
    margin: 30px 18vw 0 18vw;
    background-color: white;
    width: 60vw;
    padding: 20px;

    --s: 10px; /* the spread  */
    
}

@media only screen and (hover: none) and (pointer: coarse){

    .Content{
        margin: 30px 5vw 0 5vw;
    }
    
}

.Content::after { 
    content: ""; 
    position: absolute; 
    inset: -.625em; 
    background: linear-gradient(to bottom right, 
        var(--bgColor), var(--bgDarkestColor)); 
    filter: blur(1.5em); 
    z-index: -1; 
} 
.Header{
    width: 100%;
    top: 0;
    left: 0;
}

/*
    Logo e Título
*/

#LogoCanvas{
    width: 102px;
    height: 102px;
    image-rendering: pixelated;
    border-radius: 10px;
    margin: 26px;
}
.BarraLogoDiv{
    display: flex;
    flex-direction: row;
    background: linear-gradient(var(--bgColor), var(--bgDarkestColor));
}
#Subtitulo{
    color: white;
    align-self: center;
    margin-left: 10px;
}

/*
    Botões
*/

.BarraBotoesDiv{
    background-color: var(--bgDarkestColor);
    padding: 0px 5px 0px 15px;
    display: flex;
    align-items: center;
   
    height: 64px;

}

.BarraBotoesDiv a{
    background-color: var(--bgDarkColor);
    color: white; 
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    flex-basis:content;
}

/* 
.BarraBotoesDiv ol{
    display: flex;
    justify-content: left;
}

.BarraBotoesDiv ol li{
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.BarraBotoesDiv li{

    background-color: white;
    border-radius: 8px;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0);

    margin: 3px;
} */