
/*
    Variáveis
*/

:root{

    
    --bgDarkestColor:rgba(54,0,0,1);
    --bgDarkColor:rgba(108,2,2,1);
    --bgColor: rgba(163,25,25,1);
    --bgLightColor:rgba(238,114,114,1);
    --bgLightestColor:rgba(255,185,185,1);
   

    /* --bgDarkestColor:#0d7cc4;
    --bgDarkColor:#5da7d9;
    --bgColor: #7ab8e0;
    --bgLightColor:#93c4e6;
    --bgLightestColor:#a6cfea; */

    font-family: Arial, Helvetica, sans-serif;
}

/*
    Estrutura
*/

#GlobalContainer{
    display: flex;
    flex-wrap: wrap;
}
body{
    margin:0;
    padding:0;
    background-color: rgb(201, 201, 201);
}
.Content{
    position: relative;
    margin: 40px 18vw 40px 18vw;
    background-color: white;
    width: 64vw;
    padding: 45px;

    --s: 10px; /* the spread  */
    
}

.ContentFlexBox{

    display: flex;
    flex-flow: row wrap;

}

/* @media only screen and (max-width: 768px){

    .Content{
        margin: 30px 5vw 0 5vw;
        width: 90vw;
    }
    
} */

.Content::after { 
    content: ""; 
    position: absolute; 
    inset: -.625em; 
    background: linear-gradient(to bottom right, 
        var(--bgColor), var(--bgDarkestColor)); 
    filter: blur(1.5em); 
    z-index: -1; 
} 
.Header{
    width: 100%;
    top: 0;
    left: 0;
}

/*
    Logo e Título
*/

#LogoCanvas{
    width: 102px;
    height: 102px;
    image-rendering: pixelated;
    border-radius: 10px;
    margin: 26px;
}
.BarraLogoDiv{
    display: flex;
    flex-direction: row;
    background: linear-gradient(var(--bgColor), var(--bgDarkestColor));
}
#Subtitulo{
    color: white;
    align-self: center;
    margin-left: 10px;
    font-size: 120%;
}

/*
    Botões
*/

.BarraBotoesDiv{ 
    background-color: var(--bgDarkestColor);
    padding: 0px 5px 0px 15px;
    display: flex;
    align-items: center;
   
    height: 64px;

}

.BarraBotoesDiv a{
    background-color: var(--bgDarkColor);
    color: white; 
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    flex-basis:content;
    transition: 0.3s;
}

.BarraBotoesDiv a:hover {
    background-color: var(--bgLightestColor);
    color: black;
    font-size: 120%;
}

.Coluna{
    width: 47.5%;
    margin: 0;
}

.TituloArtigo{
    font-weight: bold;
    font-size: 230%;
    margin:0;
}
.SubTituloArtigo{
    color: rgb(0, 0, 0, 190);
    font-size: 180%;
    text-indent: 20px;
    padding: 5px;
}

.ConteudoArtigo{
    text-align: justify;
    text-indent: 40px;
    font-size: 110%;
}


/* 
.BarraBotoesDiv ol{
    display: flex;
    justify-content: left;
}

.BarraBotoesDiv ol li{
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.BarraBotoesDiv li{

    background-color: white;
    border-radius: 8px;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0);

    margin: 3px;
} */